change master to master_host='{{primary_ip}}',master_user='{{mariadb_replication_user}}',master_password='{{mariadb_replication_password}}',master_log_file='{{file_to_replicate.stdout}}',master_log_pos={{position_to_replicate.stdout}}