[Unit]
Description=The PHP 8.1 FastCGI Process Manager
After=network.target

[Service]
Type=simple
PIDFile=/var/run/php8.1-fpm.pid
ExecStart=/usr/local/sbin/php-fpm --nodaemonize --fpm-config /etc/php/php{{php_version}}/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target