deb http://{{ sources_repo }}:8081/repository/astra-base-repository/ 1.7_x86-64 main contrib non-free
deb http://{{ sources_repo }}:8081/repository/astra-extended-repository/ 1.7_x86-64 main contrib non-free astra-ce
deb http://{{ sources_repo }}:8081/repository/astra-main-repository/ 1.7_x86-64 main contrib non-free
deb http://{{ sources_repo }}:8081/repository/astra-update-repository/ 1.7_x86-64 main contrib non-free
